@model IEnumerable<LojaWebMvc.Models.Seller>
@{
    ViewData["Title"] = "All Sellers";
}

<!-- <h2>Clientes</h2> -->

    <div class="mt-4">
         <a asp-action="Create" class="btn btn-primary">New</a>
       
    </div>

     <div class="card mt-4">
        <div class="card-header">
         Lis of sellers
     </div>

           <div class="card-body">
            <div class="row">
<table class="table table-striped table-hover">
    <thead>
        <tr class="success">

            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.BaseSalary)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
                
            </th>
          
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                  <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.BaseSalary)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
               
                
                <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
